CONFIG_CORTEX_M4=y
CONFIG_BOARD_SPECIFIC_HEADER="boards/test/test.h"
CONFIG_USE_STM32_DRIVERS=y

#
# Drivers
#

#
# ADC
#
CONFIG_STM32_ADC_DRIVER=y
# end of ADC

#
# Clock
#
CONFIG_STM32_CLOCK_DRIVER=y
# end of Clock

#
# GPIO
#
CONFIG_STM32_GPIO_DRIVER=y
# end of GPIO

#
# Application
#

#
# Temperature Monitoring
#
CONFIG_TEMPERATURE_MONITORING_MIN_THRESHOLD=-40
CONFIG_TEMPERATURE_MONITORING_MAX_THRESHOLD=100
CONFIG_TEMPERATURE_MONITORING_INTERVAL=1000
CONFIG_TEMPERATURE_MONITORING_HOLD_OFF_TIME=5000
# end of Temperature Monitoring
# end of Application
